.form-content {

    input, textarea {
        width: 100%;
        padding: 1rem;
        border: solid 1px var(--color-border-gray);

        &::placeholder {
            font-family: "Poppin", sans-serif;
            font-style: italic;
            font-size: 16px;
            color: var(--color-primary-light);
        }
    }

    textarea {
        height: 200px;
        resize: none;
    }

    button {
        margin-top: 1rem;
        width: 100%;

        @include tablet {
            width: auto;
        }
    }

    select {
        background-color: transparent;
        width: 100%;
        padding: .8rem;
        border: solid 1px var(--color-border-gray);
        color: var(--color-primary-light);
        font-family: "Poppins", sans-serif;
        font-size: 14px;

        option {
            color: var(--color-secondary);
            background-color: var(--color-primary);
        }
    }
}

#service-form {

    form {
        padding: 1rem;

        @include tablet {
            padding: 0;
        }

        .info-inputs {
            margin: 1rem 0;
            display: flex;
            flex-direction: column;

            @include tablet {
                flex-direction: row;
                gap: 1rem;
            }

            .input-group {
                width: 100%;

                input {
                    margin: 0.5rem 0;

                    @include tablet {
                        margin: 0;
                    }
                }
            }
        }
    }
}


#callback-form {
    @include desktop {
        position: absolute;
        top: -140px;
    }

    @include medium {
        margin-left: 1rem;
    }

    box-shadow: 0 4px 8px 0 rgba(90, 90, 90, 0.145), 0 6px 20px 0 rgba(101, 101, 101, 0.151);
    max-width: 450px;
    max-height: 700px;
    padding: 0;



    .headline {
        padding: 2rem;
        background-color: var(--color-primary);

        h2 {
            font-size: 30px;
            color: var(--color-secondary);
        }
    }


    p {
        padding: 1rem 2rem;
    }

    .umb-block-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem;

        @include tablet {
        }

        button {
            width: 100%;
        }
    }
}

.map-section{
    z-index: -1;
}

#contact-callback-form {
    padding: 5rem 0;
    position: relative;
    display: flex;
    justify-content: center;

    .form-container {
        background-color: var(--color-light);
        box-shadow: var(--color-shadow) 1px 1px 2px 2px;
        padding: 2rem;
        z-index: 1;

        @include tablet {
            width: 100%;
        }

        @include medium {
            width: 1000px;
            position: absolute;
            top: -25rem;
        }

        @include desktop {
            width: 1200px;
        }


        .form-headlines {
            padding: 2rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .headline {
                max-width: 400px;
            }

            p {
                max-width: 600px;
            }
        }


        .umb-block-list {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "name" "email" "phone" "select" "button";
            gap: 1rem;

            @include tablet {
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                    "name email" "phone select" "button button";
                gap: 1rem;
            }

            #_Name {
                grid-area: name;
            }

            #_Email {
                grid-area: email;
            }

            #_Phone {
                grid-area: phone;
            }

            .form-select {
                grid-area: select;
            }

            #_Submit {
                grid-area: button;
            }
        }
    }
}

.form-input-error{
    color: #fa8383;
}

.success-message{
    color: #5cb85c;
}