.header-banner{

    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        @include tablet{
            flex-direction: row;
            gap: 0rem;
        }

        .banner-socials{
            display: flex;
            align-items: center;
            gap: 1.5rem;

            .horizontal-divider{
                height: 3rem;
                border: solid 1px var(--color-primary-light);
            }
        }
    }
}