.header-banner {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        @include tablet {
            flex-direction: row;
            gap: 0rem;
        }

        .banner-socials {
            display: flex;
            align-items: center;

            .social-button {
                padding: 0 1.5rem;
                align-content: center;
                height: 3rem;
                border-left: solid 2px var(--color-primary-light);

                &:last-child {
                    border-left: solid 2px var(--color-primary-light);
                    border-right: solid 2px var(--color-primary-light);
                }
            }
        }
    }
}
