#hero-slider {
    .background-image {
        height: 100%;
    }
}

.image-slider {

    .slide-item {
        margin: 0 1rem;
    }
}

#choose-us {

    .desktop-image {
        margin-top: 5rem;
    }
}

#success{

    .scaleable-image{
        width: 80%;
    }
}

#our-team {

    .umb-block-grid__layout-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

        @include medium{
            display: grid;
        }
    }
}

.employee-card {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--color-border-light);

    img {
        max-width: 100%;
    }

    .card-text {
        padding: 1.5rem;
        white-space: nowrap;

        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}