.container, .container-fluid {
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.container{
    @include tablet{
        max-width: 720px;
    }

    @include medium{
        max-width: 900px;
    }

    @include desktop{
        max-width: 1200px;
    }
}

.dynamic-container {
    padding: 3rem 0;
}


.spacing-top {
    padding-top: 2rem;

    @include tablet {
        padding-top: 4rem;
    }
}

.spacing-bottom {
    padding-bottom: 2rem;

    @include tablet {
        padding-bottom: 4rem;
    }
}

.center-content {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.start-content {
    justify-content: center;
    text-align: center;
    align-items: center;

    @include medium {
        justify-content: start;
        text-align: start;
        align-items: start;
    }
}