.background-image {
    display: none;

    @include medium {
        display: block;
        position: absolute;
        width: 100%;
    }
}

.desktop-image {
    display: none;
    width: 100%;

    @include tablet {
        display: block;
    }
}

.scaleable-image {
    width: 100%;
}