@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-default: #535656;
  --color-dark: #171717;
  --color-primary: #4F5955;
  --color-primary-light: #6d7573;
  --color-primary-dark: #2f3331;
  --color-secondary: #D9C3A9;
  --color-accent: #F2EDDC;
  --color-gray: #F7F7F7;
  --color-light: #FFFFFF;
  --color-shadow: #b9b9b9;
  --color-border-dark: #333333;
  --color-border-dark-transparent: rgba(51, 51, 51, 0.10);
  --color-border-primary: #424946;
  --color-border-secondary: #c0ac94;
  --color-border-accent: #d5d1c2;
  --color-border-gray: #e3e3e3;
  --color-border-light: #eeeeee;
  --color-border-light-transparent: rgba(255, 255, 255, 0.95);
}

:root.dark-theme {
  --color-dark: #e0e0e0;
  --color-primary: #a3b3af;
  --color-primary-light: #c1ccc9;
  --color-primary-dark: #6f7976;
  --color-secondary: #3c2f26;
  --color-accent: #1a1a1a;
  --color-gray: #2b2b2b;
  --color-light: #171717;
  --color-border-dark: #cccccc;
  --color-border-dark-transparent: rgba(204, 204, 204, 0.10);
  --color-border-primary: #b6bcb9;
  --color-border-secondary: #42392e;
  --color-border-accent: #2a2925;
  --color-border-gray: #474747;
  --color-border-light: #2c2c2c;
  --color-border-light-transparent: rgba(23, 23, 23, 0.95);
}

body {
  color: var(--color-default);
}

span {
  color: var(--color-secondary);
}

a {
  color: var(--color-primary);
}
a:hover, a:focus, a:active {
  color: var(--color-secondary);
}

.bg-primary a {
  color: var(--color-light);
}
.bg-primary a:hover, .bg-primary a:focus, .bg-primary a:active {
  color: var(--color-secondary);
}

.active-link {
  color: var(--color-secondary);
}

.btn-dark {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-color: transparent;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-dark:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: transparent;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
  outline: none !important;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-light);
  border-color: transparent;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-primary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: transparent;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  outline: none !important;
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-color: transparent;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-secondary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: transparent;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  outline: none !important;
}

.btn-accent {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: transparent;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-accent:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-color: transparent;
}
.btn-accent:hover, .btn-accent:focus, .btn-accent:active {
  outline: none !important;
}

.btn-gray {
  background-color: var(--color-gray);
  color: var(--color-primary);
  border-color: transparent;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-gray:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: transparent;
}
.btn-gray:hover, .btn-gray:focus, .btn-gray:active {
  outline: none !important;
}

.btn-light {
  background-color: var(--color-light);
  color: var(--color-primary);
  border-color: transparent;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-light:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: transparent;
}
.btn-light:hover, .btn-light:focus, .btn-light:active {
  outline: none !important;
}

.btn-menu {
  background-color: var(--color-primary);
  color: var(--color-primary);
  border-color: transparent;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-menu:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: transparent;
}
.btn-menu:hover, .btn-menu:focus, .btn-menu:active {
  outline: none !important;
}

h1 {
  color: var(--color-primary);
}

h2 {
  color: var(--color-primary);
}

h3 {
  color: var(--color-secondary);
}

h4 {
  color: var(--color-primary);
}

h5 {
  color: var(--color-primary);
}

h6 {
  color: var(--color-secondary);
}

.bg-primary h1 {
  color: var(--color-light);
}
.bg-primary h2 {
  color: var(--color-light);
}
.bg-primary h3 {
  color: var(--color-secondary);
}
.bg-primary h4 {
  color: var(--color-light);
}
.bg-primary h5 {
  color: var(--color-light);
}
.bg-primary h6 {
  color: var(--color-secondary);
}

.font-default {
  color: var(--color-default);
}

.font-dark {
  color: var(--color-dark);
}

.font-primary {
  color: var(--color-primary);
}

.font-primary-light {
  color: var(--color-primary-light);
}

.font-primary-dark {
  color: var(--color-primary-dark);
}

.font-secondary {
  color: var(--color-secondary);
}

.font-accent {
  color: var(--color-accent);
}

.font-gray {
  color: var(--color-gray);
}

.font-light {
  color: var(--color-light);
}

.bg-primary {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.bg-gray {
  background-color: var(--color-gray);
  color: var(--color-default);
}

.bg-light {
  background-color: var(--color-light);
  color: var(--color-default);
}

.bg-dark {
  background-color: var(--color-dark);
  color: var(--color-primary);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, section, div, header, footer, main, aside, nav, blockquote, p, span, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #535656;
}

.umb-block-grid__layout-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--grid-columns, 1), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(0, min-content);
  column-gap: var(--umb-block-grid--column-gap, 0);
  row-gap: var(--umb-block-grid--row-gap, 0);
}

section .umb-block-grid__layout-container {
  row-gap: var(--umb-block-grid--row-gap, 1.5rem);
}
section .umb-block-grid__layout-container .no-gap .umb-block-grid__layout-container {
  row-gap: var(--umb-block-grid--row-gap, 0);
}

.umb-block-grid__layout-item {
  position: relative;
  grid-column-end: span min(var(--umb-block-grid--item-column-span, 1) * 3, var(--umb-block-grid--grid-columns));
  grid-row: span var(--umb-block-grid--item-row-span, 1);
}

.umb-block-grid__area-container,
.umb-block-grid__block--view::part(area-container) {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--area-grid-columns, var(--umb-block-grid--grid-columns, 1)), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(0, min-content);
  column-gap: var(--umb-block-grid--areas-column-gap, 0);
  row-gap: var(--umb-block-grid--areas-row-gap, 0);
}

.umb-block-grid__area {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* For small devices we scale columnSpan by three, to make everything bigger than 1/3 take full width: */
  grid-column-end: span min(var(--umb-block-grid--area-column-span, 1) * 3, var(--umb-block-grid--area-grid-columns));
  grid-row: span var(--umb-block-grid--area-row-span, 1);
}

@media (min-width: 1024px) {
  .umb-block-grid__layout-item {
    grid-column-end: span min(var(--umb-block-grid--item-column-span, 1), var(--umb-block-grid--grid-columns));
  }
  .umb-block-grid__area {
    grid-column-end: span min(var(--umb-block-grid--area-column-span, 1), var(--umb-block-grid--area-grid-columns));
  }
}
.btn-dark, .btn-primary, .btn-secondary, .btn-accent, .btn-gray, .btn-light {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.btn-dark:hover, .btn-primary:hover, .btn-secondary:hover, .btn-accent:hover, .btn-gray:hover, .btn-light:hover {
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.btn-menu {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  transition: 0.25s;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  height: 55px;
  width: 55px;
  font-size: 1.6rem;
}
.btn-menu:hover {
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
@media (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

.container, .container-fluid {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 900px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

.spacing-left {
  padding-left: 0;
}
@media (min-width: 768px) {
  .spacing-left {
    padding-left: 2rem;
  }
}

.spacing-right {
  padding-right: 0;
}
@media (min-width: 768px) {
  .spacing-right {
    padding-right: 2rem;
  }
}

.spacing-top {
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .spacing-top {
    padding-top: 4rem;
  }
}

.spacing-bottom {
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .spacing-bottom {
    padding-bottom: 4rem;
  }
}

.center-content {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.start-content {
  justify-content: center;
  text-align: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .start-content {
    justify-content: start;
    text-align: start;
    align-items: start;
  }
}

a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
}
a:hover {
  transition: 0.3s ease-in-out;
}

.wrapper {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100dvh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none !important;
  line-height: 1.4;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

.heading-spacing-top {
  padding-top: 2rem;
}

.heading-spacing-bottom {
  padding-bottom: 1rem;
}

blockquote {
  font-style: italic;
}

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 14px;
}

.text-large {
  font-size: 16px;
}

.text-x-large {
  font-size: 18px;
}

.text-huge {
  font-size: 100px;
}

.background-image {
  display: none;
}
@media (min-width: 1024px) {
  .background-image {
    display: block;
    position: absolute;
    width: 100%;
  }
}

.desktop-image {
  display: none;
  max-width: 100%;
}
@media (min-width: 768px) {
  .desktop-image {
    display: block;
  }
}

.scaleable-image {
  max-width: 100%;
}

.header-banner .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .header-banner .container {
    flex-direction: row;
    gap: 0rem;
  }
}
.header-banner .container .banner-socials {
  display: flex;
  align-items: center;
}
.header-banner .container .banner-socials .social-button {
  padding: 0 1.5rem;
  align-content: center;
  height: 3rem;
  border-left: solid 2px var(--color-primary-light);
}
.header-banner .container .banner-socials .social-button:last-child {
  border-left: solid 2px var(--color-primary-light);
  border-right: solid 2px var(--color-primary-light);
}

header {
  padding: 1.5rem 1.5rem;
}
@media (min-width: 768px) {
  header {
    padding: 1.5rem 0;
  }
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .navigation-links {
  display: none;
}
@media (min-width: 768px) {
  header .container .navigation-links {
    display: flex;
    gap: 2rem;
  }
}
header .container .navigation-links a {
  font-weight: 600;
}
header .container .search-bar {
  display: none;
}
@media (min-width: 768px) {
  header .container .search-bar {
    display: flex;
  }
}
header .container .burger-menu {
  display: flex;
  font-size: 24px;
}
@media (min-width: 768px) {
  header .container .burger-menu {
    display: none;
  }
}

footer {
  padding: 1rem 0;
}

.contact-section {
  position: relative;
  z-index: 0;
}
@media (min-width: 1024px) {
  .contact-section {
    padding-bottom: 0;
  }
}
.contact-section .container {
  display: flex;
  justify-content: center;
}
@media (min-width: 1024px) {
  .contact-section .container {
    justify-content: space-between;
  }
}
.contact-section .container .contact-image {
  width: fit-content;
  position: relative;
}
.contact-section .container .contact-image #contact-img {
  display: none;
}
@media (min-width: 1024px) {
  .contact-section .container .contact-image #contact-img {
    display: inline;
  }
}
.contact-section .container .contact-image #bg-img {
  display: none;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}
@media (min-width: 1024px) {
  .contact-section .container .contact-image #bg-img {
    display: inline;
  }
}
.contact-section .container .contact-image #dot-img {
  display: none;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 20rem;
  max-width: 100%;
}
@media (min-width: 1400px) {
  .contact-section .container .contact-image #dot-img {
    display: inline;
  }
}
.contact-section .container .contact-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1400px) {
  .contact-section .container .contact-content {
    justify-content: center;
  }
}
.contact-section .container .contact-content h2 {
  max-width: 400px;
}
.contact-section .container .contact-content .contact-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact-section .container .contact-content .contact-row:hover {
  opacity: 0.8;
}
.contact-section .container .contact-content .contact-row .icon-text {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--color-secondary);
  font-size: 20px;
}

.generic-breadcrumb {
  padding: 6rem 3rem;
  background-color: var(--color-gray);
  position: relative;
}
.generic-breadcrumb .left-background-image {
  display: none;
}
@media (min-width: 768px) {
  .generic-breadcrumb .left-background-image {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.generic-breadcrumb .right-background-image {
  display: none;
}
@media (min-width: 768px) {
  .generic-breadcrumb .right-background-image {
    display: block;
    position: absolute;
    top: 0;
    right: 2rem;
  }
}
.generic-breadcrumb .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.generic-breadcrumb .container .breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

#hero-slider .background-image {
  height: 100%;
}

.image-slider .slide-item {
  margin: 0 1rem;
}

#choose-us .desktop-image {
  margin-top: 5rem;
}

#success .scaleable-image {
  width: 80%;
}

#our-team .umb-block-grid__layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1024px) {
  #our-team .umb-block-grid__layout-container {
    display: grid;
  }
}

.employee-card {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--color-border-light);
}
.employee-card img {
  max-width: 100%;
}
.employee-card .card-text {
  padding: 1.5rem;
  white-space: nowrap;
}
.employee-card .card-text p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#our-projects {
  padding: 5rem 0;
}
#our-projects .container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 1400px) {
  #our-projects .container {
    flex-direction: row;
  }
}
#our-projects .container .projects {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}
#our-projects .container .projects .project-box {
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
  border-bottom: solid 1px var(--color-border-gray);
}
#our-projects .container .projects .project-box img {
  width: 100%;
}
#our-projects .container .projects .project-box .project-text {
  display: flex;
  flex-direction: column;
}
#our-projects .container .projects .project-box .project-text .project-headline {
  padding-bottom: 1rem;
}
#our-projects .container .projects .project-box .project-text .project-headline .project-date {
  font-weight: 200;
}
#our-projects .container .projects .project-box .project-text .project-headline .project-date i {
  margin-right: 0.5rem;
}
#our-projects .container .projects .project-box .project-text .read-more {
  font-weight: 600;
  padding-top: 3rem;
}
#our-projects .container .projects .project-box .project-text .read-more i {
  margin-left: 0.5rem;
}

#our-services {
  padding-top: 5rem;
}
#our-services .container .headline {
  text-align: center;
  padding: 2rem 0;
  margin: 0 auto;
  max-width: 600px;
}
#our-services .container .services {
  display: grid;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 1024px) {
  #our-services .container .services {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  #our-services .container .services {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
#our-services .container .services .service-box {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--color-border-gray) 1px 1px 3px 3px;
  overflow: hidden;
}
#our-services .container .services .service-box img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
#our-services .container .services .service-box h4, #our-services .container .services .service-box p {
  padding: 2rem;
}
#our-services .container .services .service-box p {
  font-size: 14px;
}
#our-services .container .services .service-box:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.9;
  color: var(--color-dark);
  box-shadow: var(--color-shadow) 1px 1px 4px 4px;
}
#our-services .container .services .service-box:hover img {
  transform: scale(1.1);
}

.pagination {
  padding: 2rem 0;
}
.pagination .container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 2rem;
  font-size: 20px;
}
.pagination .container span {
  color: var(--color-default);
}
.pagination .container .change {
  font-weight: 600;
}
.pagination .container .inactive {
  color: var(--color-border-gray);
  font-weight: 400;
}
.pagination .container .pages {
  display: flex;
}
.pagination .container .pages .number {
  padding: 1rem 1.7rem;
  font-weight: 600;
}
.pagination .container .pages .active {
  border: 1px solid var(--color-border-gray);
  border-radius: 100%;
}

#service-aside {
  display: none;
  border-right: solid 1px var(--color-border-gray);
  padding-right: 3rem;
}
@media (min-width: 1400px) {
  #service-aside {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 3rem;
  }
}
#service-aside .aside-content {
  font-size: 14px;
  max-width: 330px;
}
#service-aside .aside-content img {
  margin: 1rem 0;
}

#project-aside {
  display: none;
  border-left: solid 1px var(--color-border-gray);
  padding-left: 3rem;
}
@media (min-width: 1400px) {
  #project-aside {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
#project-aside .aside-content {
  font-size: 14px;
}
#project-aside .aside-content .recent-projects {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem 0;
  gap: 1rem;
}
#project-aside .aside-content .recent-projects .recent-project-box {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  max-width: 300px;
  border-bottom: solid 1px var(--color-border-gray);
}
#project-aside .aside-content .recent-projects .recent-project-box h6 {
  color: var(--color-default);
  width: 100px;
}
#project-aside .aside-content .recent-projects .recent-project-box img {
  height: 100px;
  width: 200px;
}
#project-aside .aside-content .recent-projects .recent-project-box:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.9;
}
#project-aside .aside-content .recent-projects .recent-project-box:hover img {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
#project-aside .aside-content .tags {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
}
#project-aside .aside-content .tags p {
  padding: 0.6rem;
  border: solid 1px var(--color-dark);
  border-radius: 20px;
}
#project-aside .aside-content .tags p:hover {
  transition: 0.3s ease-in-out;
  background-color: var(--color-secondary);
}

.aside-support {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 6px;
}
.aside-support h4 {
  font-weight: 500;
}
.aside-support .email-input {
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  border-radius: 6px;
}
.aside-support .email-input input {
  background-color: transparent;
  border: none;
  width: 100%;
}
.aside-support .email-input input::placeholder {
  font-style: italic;
}
.aside-support .email-input i {
  color: var(--color-primary);
}
.aside-support .mail-background {
  position: absolute;
  bottom: 0;
  right: 0;
}

#home-projects .container {
  text-align: center;
}
@media (min-width: 1400px) {
  #home-projects .container {
    text-align: start;
  }
}
#home-projects .container .headline {
  padding: 2rem 0;
}
#home-projects .project-slider {
  display: grid;
  justify-content: center;
}
@media (min-width: 1024px) {
  #home-projects .project-slider {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 1400px) {
  #home-projects .project-slider {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
#home-projects .project-slider .project-box {
  position: relative;
  width: fit-content;
}
#home-projects .project-slider .project-box .project-text {
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: rgba(109, 117, 115, 0.5450980392);
  padding: 1.5rem;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 3rem;
}
#home-projects .project-slider .project-box .project-text h5 {
  color: var(--color-light);
  font-weight: 500;
}
#home-projects .project-slider .project-box .project-text p {
  color: var(--color-light);
  font-size: 14px;
}
#home-projects .project-slider .project-box .project-text i {
  color: var(--color-light);
  display: none;
  font-size: 36px;
}
#home-projects .project-slider .project-box:hover .project-text {
  transition: 0.3s ease-in-out;
  height: 30%;
  background-color: var(--color-primary);
}
#home-projects .project-slider .project-box:hover .project-text h5 {
  color: var(--color-secondary);
}
#home-projects .project-slider .project-box:hover .project-text i {
  display: inline;
}
#home-projects .project-slider .project-box img {
  max-width: 100%;
}

.article-details {
  padding: 5rem 0;
}
.article-details .container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 1400px) {
  .article-details .container {
    flex-direction: row;
  }
}
.article-details .container .article-content {
  max-width: 800px;
}
.article-details .container .article-content span {
  color: var(--color-default);
}
.article-details .container .article-content li::marker {
  color: var(--color-secondary);
}
.article-details .container .article-content img {
  margin: 2rem 0;
}
.article-details .container .article-content .article-img-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
@media (min-width: 992px) {
  .article-details .container .article-content .article-img-text {
    flex-direction: row;
  }
}
.article-details .container .article-content .article-tags {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}
.article-details .container .article-content .article-tags p {
  background-color: var(--color-secondary);
  padding: 0.6rem;
  border-radius: 20px;
}

.form-content .umb-block-list {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .form-content .umb-block-list {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
.form-content input, .form-content textarea {
  width: 100%;
  padding: 1rem;
  border: solid 1px var(--color-border-gray);
}
.form-content input::placeholder, .form-content textarea::placeholder {
  font-family: "Poppin", sans-serif;
  font-style: italic;
  font-size: 16px;
  color: var(--color-primary-light);
}
.form-content textarea {
  height: 200px;
  resize: none;
}
.form-content button {
  margin-top: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .form-content button {
    width: auto;
  }
}
.form-content select {
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  border: solid 1px var(--color-border-gray);
  color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.form-content select option {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

#service-form {
  padding: 5rem 0;
}
#service-form .container form {
  padding: 1rem;
}
@media (min-width: 768px) {
  #service-form .container form {
    padding: 0;
  }
}
#service-form .container form .info-inputs {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  #service-form .container form .info-inputs {
    flex-direction: row;
    gap: 1rem;
  }
}
#service-form .container form .info-inputs input {
  margin: 0.5rem 0;
}
@media (min-width: 768px) {
  #service-form .container form .info-inputs input {
    margin: 0;
  }
}
