.font-default {
    color: var(--color-default);
}

.font-dark {
    color: var(--color-dark);
}

.font-primary {
    color: var(--color-primary);
}

.font-primary-light {
    color: var(--color-primary-light);
}

.font-primary-dark {
    color: var(--color-primary-dark);
}

.font-secondary {
    color: var(--color-secondary);
}

.font-accent {
    color: var(--color-accent);
}

.font-gray {
    color: var(--color-gray);
}

.font-light {
    color: var(--color-light);
}