.our-team{
    padding: 5rem 0;

    .container{
        
        .div-headline{
            text-align: center;
            margin-bottom: 2rem;
        }

        .big-cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1rem;
            margin-bottom: 4rem;

            @include tablet{
                align-items: start;
                text-align: start;
                flex-direction: row;
                justify-content: space-between;
            }

            .big-employee-card{
                border: solid 1px var(--color-border-light);

                img{
                    max-width: 100%;
                }

                .card-text{
                    padding: 2rem;
                    height: auto;
                    
                    @include tablet{
                        height: 10rem;
                    }

                    @include medium {
                        height: auto;
                    }

                    p{
                        font-size: 13px;
                    }
                }
            }
        }

        .small-cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1rem;

            @include tablet{
                align-items: start;
                text-align: start;
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            @include medium{
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            .small-employee-card{
                border: solid 1px var(--color-border-light);

                img{
                    width: 100%;
                }

                .card-text{
                    padding: 2rem;

                    h4{
                        font-size: 18px;
                    }

                    p{
                        font-size: 13px;
                    }
                }
            }
        }
    }
}