.testimonial{
    padding: 5.27rem 0;
    position: relative;
    z-index: -2;

    .container{
        z-index: 0;
        display: flex;
        text-align: center;
        justify-content: center;

        @include medium{
            text-align: start;
            justify-content: start;
        }

        .testimonial-content{
            max-width: 400px;

            .testimonial-text{
                color: var(--color-primary-light);
                padding: 1rem 0;
            }

            .testimonial-stars{
                font-size: 14px;
                padding: 1rem 0;
            }

            .testimonial-name{
                font-size: 14px;
            }

            .testimonial-company{
                font-weight: 600;
            }
        }
    }
    
    img{
        display: none;

        @include medium{
            display: inline;
            position: absolute;
            max-width: 50%;
            top: 15%;
            right: 0;
            z-index: -1;
        }

        @include desktop{
            max-width: 100%;
            top: 0;
        }
    }
}