.brands{
    padding: 5rem 0;
    .container{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 2rem;

        @include tablet{
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
        }

        @include medium{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    }
}