.choose-us{
    padding-top: 5rem;

    .container{
        text-align: center;
        position: relative;

        .dot-map{
            position: absolute;
            z-index: -1;
            top: 3rem;
            right: 3rem;
        }

        .div-headline{
            margin-bottom: 2rem;

            .secondary-h2{
                color: var(--color-secondary);
            }
        }

        p{
            margin-bottom: 2rem;
        }

        a{
            margin-bottom: 6rem;
        }

        img{
            display: none;
            width: 100%;

            @include tablet{
                display: block;
            }
        }
    }
}