.hero{
    padding-bottom: 10rem;
    z-index: 0;

    .background-div{
        position: relative;

        .background-image{
            display: none;

            @include medium{
                display: block;
                position: absolute;
                top: 0;
                z-index: -1;
                height: 550px;
                width: 100%;
            }
    
        }
    }

    .container{

        .hero-content{
            padding-top: 3rem;
            align-items: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @include medium{
                max-width: 550px;
                align-items: start;
                text-align: start;
            }
        }
    }
}