@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Value("pageTitle") ?? null;
    var projectTags = Model?.Value<IEnumerable<string>>("projectTags");
}
@await Html.PartialAsync("partials/static/generic-breadcrumb.cshtml")

<section class="article-details">
    <div class="container">
        <div class="article-content">
            @Model.Value("pageContent")

            @if(projectTags != null)
            {
                <div class="article-tags">
                    <h4>Tags:</h4>
                    @foreach(var tag in projectTags)
                    {
                        <p>@tag</p>
                    }
                </div>
            }
        </div>

        @await Html.PartialAsync("partials/static/projects-aside.cshtml")


    </div>
</section>

@await Html.PartialAsync("partials/static/contact-footer.cshtml")