@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


@{
    var upperHeadingContent = Model?.Content.Value<string>("upperHeadingContent");
    var lowerHeadingContent = Model?.Content.Value<string>("lowerHeadingContent");
    var spacingTopClass = (Model!.Content.Value<bool>("addSpaceToTop")) ? "heading-spacing-top" : "";
    var spacingBottomClass = (Model.Content.Value<bool>("addSpaceToBottom")) ? "heading-spacing-bottom" : "";
}

@if (!string.IsNullOrEmpty(upperHeadingContent) && !string.IsNullOrEmpty(lowerHeadingContent))
{
    <div class="@spacingTopClass @spacingBottomClass">
        <h6>@upperHeadingContent</h6>
        <h2>@lowerHeadingContent</h2>
    </div>
}