@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var centerContentClass = Model!.Content.Value<bool>("centerContent") ? "center-content" : "";
    var startContentClass = Model!.Content.Value<bool>("contentAtStartDesktop") ? "start-content" : "";
    var addSpaceLeft = Model!.Content.Value<bool>("addSpaceLeft") ? "spacing-left" : "";
    var addSpaceRight = Model!.Content.Value<bool>("addSpaceRight") ? "spacing-right" : "";   
    var addSpaceToTop = Model!.Content.Value<bool>("addSpaceToTop") ? "spacing-top" : "";   
    var addSpaceToBottom = Model!.Content.Value<bool>("addSpaceToBottom") ? "spacing-bottom" : "";   
}

<div class="dynamic-container @centerContentClass @startContentClass @addSpaceLeft @addSpaceRight @addSpaceToTop @addSpaceToBottom">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</div>

